#region_filter,
#lad_or_lsoa {
  appearance: none;
  border: 0;
  outline: 0;
  padding: 0 1rem;
  width: auto;
  font: inherit;
  color: blue;
  cursor: pointer;
  box-shadow: none;
}

#region_filter::-ms-expand,
#lad_or_lsoa::-ms-expand {
  display: none;
}

#region_filter:hover,
#lad_or_lsoa:hover {
  text-decoration: underline;
}

.flex-select {
  display: inline-block;
  border: none;
}

/* Custom arrow */
.flex-select > .form-group > div {
  position: relative;
}

.flex-select > .form-group > div::after {
  content: "▼";
  color: blue;
  font-size: 1rem;
  top: 3px;
  left: 0px;
  position: absolute;
}

.flex-select > .form-group {
  margin: 0 0.3rem;
}

.navbar-brand {
  white-space: wrap;
}
