:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

#region_filter {
  appearance: none;
  border: 0;
  outline: 0;
  padding: 0 1rem;
  width: 260px;
  font: inherit;
  color: blue;
  cursor: pointer;
  box-shadow: none;
}

#region_filter::-ms-expand {
  display: none;
}

#region_filter::hover {
  text-decoration: underline;
}

#region_filter:hover {
  text-decoration: underline;
}

/* Custom arrow */
.flex-select > .form-group > div {
  position: relative;
}

.flex-select > .form-group > div::after {
  content: "▼";
  color: blue;
  font-size: 1rem;
  top: 3px;
  left: 0px;
  position: absolute;
}

.flex-select > .form-group {
  margin: 0 0.3rem;
}
